<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <title>Admin</title>
</head>
<body>
<!-- Шапка -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-brand" id="authorized_user_header"></div>
    </div>
    <form class="form-inline" th:action="@{/logout}">
        <button class="btn btn-dark ml-auto" type="submit">Logout</button>
    </form>
</nav>
<!-- Навигация -->
<div class="d-flex" style="height: 100vh">
    <!-- Навигация Admin/User -->
    <div class="nav flex-column nav-pills col-2 mt-3">
        <a class="nav-link active" id="admin-tab" data-toggle="pill" href="#admin-panel" role="tab">Admin</a>
        <a class="nav-link" id="user-tab" data-toggle="pill" href="#user-panel" role="tab">User</a>
    </div>

    <!-- Реализация навигации -->
    <div class="container-fluid bg-light">
        <div class="tab-content mt-3">
            <!-- Реализациия навигации Admin -->
            <div class="tab-pane fade show active" id="admin-panel" role="tabpanel" aria-labelledby="admin-panel-tab">
                <div class="container-fluid">
                    <!-- Надпись сверху -->
                    <div class="h1">Admin panel</div>
                    <!-- Навигация в панели админа Users table/New User -->
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" id="list-tab" data-toggle="tab" href="#list">User table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="new-tab" data-toggle="tab" href="#new">New User</a>
                        </li>
                    </ul>

                    <!-- Реализация навигация в панели админа -->
                    <div class="tab-content">
                        <!-- Реализация Users table -->
                        <div class="tab-pane fade show active" id="list" aria-labelledby="list-tab">
                            <div class="card">
                                <h5 class="card-header">All users</h5>
                                <div class="card-body" id="table_with_all_users">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Age</th>
                                            <th>Email</th>
                                            <th>Role</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody id="body_all_users_table">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- Реализация New User -->
                        <div class="tab-pane fade" id="new" aria-labelledby="new-tab">
                            <div class="card">
                                <!-- Надпись сверху -->
                                <h5 class="card-header">Add new user</h5>
                                <div class="card-body">
                                    <!-- Форма Для нового пользователя -->
                                    <form id="form_for_new_user" name="form_for_new_user">
                                        <div class="col-md-3 offset-md-4 text-center">
                                            <div class="form-group">
                                                <span class="font-weight-bold">First name</span>
                                                <input type="text" name="username" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <span class="font-weight-bold">Last Name</span>
                                                <input type="text" name="surname" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <span class="font-weight-bold">Age</span>
                                                <input type="text" name="age" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <span class="font-weight-bold">Email</span>
                                                <input type="email" name="email" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <span class="font-weight-bold">Password</span>
                                                <input type="password" name="password" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <span class="font-weight-bold">Role</span>
                                                <select multiple class="form-control"
                                                        name="roles" size="2" id="newUserRoles">
                                                </select>
                                            </div>

                                            <button type="submit" class="btn btn-success btn-lg">Add new user
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Реализациия навигации User -->
            <div class="tab-pane fade show" id="user-panel" role="tabpanel" aria-labelledby="user-panel-tab">
                <div class="container-fluid">
                    <!-- Надпись сверху -->
                    <div class="h1">User information-page</div>
                    <div class="tab-content">
                        <!-- Информация о пользователе -->
                        <div class="tab-pane fade show active" aria-labelledby="list-tab">
                            <div class="card">
                                <!-- Подзаголовок -->
                                <h5 class="card-header">About user</h5>
                                <div class="card-body" id="table_with_information_about_user"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Реализация кнопки Edit -->
<div class="modal fade" id="modal_edit_user_call"
     tabindex="-1"
     role="dialog" aria-labelledby="updateModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel">Edit user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form_for_edit_user">
                    <div class="col-md-7 offset-md-3 text-center">
                        <div class="form-group">
                            <span class="font-weight-bold">ID</span>
                            <input type="text"
                                   id="id_edit_user"
                                   class="form-control"
                                   readonly>
                        </div>
                        <div class="form-group">
                            <span class="font-weight-bold">First name</span>
                            <input type="text"
                                   id="username_edit_user"
                                   class="form-control">
                        </div>
                        <div class="form-group">
                            <span class="font-weight-bold">Last name</span>
                            <input type="text"
                                   id="surname_edit_user"
                                   class="form-control">
                        </div>
                        <div class="form-group">
                            <span class="font-weight-bold">Age</span>
                            <input type="text"
                                   id="age_edit_user"
                                   class="form-control">
                        </div>
                        <div class="form-group">
                            <span class="font-weight-bold">Email</span>
                            <input type="email"
                                   id="email_edit_user"
                                   class="form-control">
                        </div>
                        <div class="form-group">
                            <span class="font-weight-bold">Password</span>
                            <input type="password"
                                   id="password_edit_user"
                                   class="form-control">
                        </div>
                        <div class="form-group">
                            <span class="font-weight-bold">Role</span>
                            <select multiple class="form-control"
                                    name="roles" size="2" id="selected_roles_of_edit_user">
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close_edit_modal_form">
                            Close
                        </button>
                        <button type="submit" class="btn btn-primary">Edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Реализация кнопки Delete -->
<div class="modal fade" id="modal_delete_user_call"
     tabindex="-1"
     role="dialog" aria-labelledby="updateModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Edit user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form_for_delete_user">
                    <div class="col-md-7 offset-md-3 text-center">
                        <div class="form-group">
                            <span class="font-weight-bold">ID</span>
                            <input type="text"
                                   id="id_delete_user"
                                   class="form-control"
                                   readonly>
                        </div>
                        <div class="form-group">
                            <span class="font-weight-bold">First name</span>
                            <input type="text"
                                   id="username_delete_user"
                                   class="form-control"
                                   readonly>
                        </div>
                        <div class="form-group">
                            <span class="font-weight-bold">Last name</span>
                            <input type="text"
                                   id="surname_delete_user"
                                   class="form-control"
                                   readonly>
                        </div>
                        <div class="form-group">
                            <span class="font-weight-bold">Age</span>
                            <input type="text"
                                   id="age_delete_user"
                                   class="form-control"
                                   readonly>
                        </div>
                        <div class="form-group">
                            <span class="font-weight-bold">Email</span>
                            <input type="email"
                                   id="email_delete_user"
                                   class="form-control"
                                   readonly>
                        </div>
                        <div class="form-group">
                            <span class="font-weight-bold">Password</span>
                            <input type="password"
                                   id="password_delete_user"
                                   class="form-control"
                                   readonly>
                        </div>
                        <div class="form-group">
                            <span class="font-weight-bold">Role</span>
                            <select multiple class="form-control"
                                    name="roles" size="2" id="selected_roles_of_delete_user"
                                    readonly>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                id="close_delete_modal_form">Close
                        </button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="for_admin/currentUserInformation.js"></script>
<script src="for_admin/addNewUser.js"></script>
<script src="for_admin/allUsers.js"></script>
<script src="for_admin/editUserModalWindow.js"></script>
<script src="for_admin/editUser.js"></script>
<script src="for_admin/getUser.js"></script>
<script src="for_admin/deleteUser.js"></script>
<script src="for_admin/deleteUserModalWindow.js"></script>
</body>
</html>